body {
  font-family: sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

.logo {
  font-weight: bold;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

@media screen and (max-width: 650px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
